#newsPublishTargetsManagementDrawer {
  .targetName {
    .v-counter.theme--light {
      position: absolute;
      top: 66px;
      right: 10px;
    }
  }
  #targetDescription textarea {
    box-shadow: none;
  }
}
.permissionsIcon {
  font-size:30px;
  color:grey;
  margin-top:5px;
}
.permissionsContentIcon {
  color: white;
  font-size: 16px;
  position: relative;
  right: 28px;
  bottom:6px;
}
