@import "./variables.less";

#newsPublishTargetsManagementDrawer {
  .targetName {
    .v-counter.theme--light {
      position: absolute;
      top: 66px;
      right: 10px;
    }
  }
  #targetDescription textarea {
    box-shadow: none;
  }
}
.permissionsIcon {
  font-size: 12px;
  height: 20px;
  border-radius: 50px;
  color:@lightWhite;
  min-width: 32px;
  padding: 7px 1px;
  background-color:@baseColorLight;
}
